<div class="modal @ActiveCssClass">
    <a href="#" class="modal-overlay" aria-label="Close" @onclick="OnCloseRequested" @onclick:preventDefault></a>
    <div class="modal-container bg-dark p-2">
        <div class="modal-header text-light py-2">
            <button type="button" class="btn btn-clear float-right" aria-label="Close"
                @onclick="OnCloseRequested"></button>
            <div class="modal-title h5">@Title</div>
        </div>
        <div class="modal-body py-0">
            <div class="content">
                @ChildContent
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public bool IsActive { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback OnCloseRequested { get; set; }

    private string ActiveCssClass => IsActive ? "active" : string.Empty;
}