.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts

server/**
!server/CSharpToTypeScript.Server/bin/Release/netcoreapp2.2/publish/**