.custom-switch input[type=checkbox]:checked+.custom-control-label::before {
    background-color: rgb(45, 45, 45) !important;
    border-color: rgb(30, 30, 30) !important;
}

.pointer {
    cursor: pointer;
}

.code-area {
    height: 500px !important;
    font-size: 12px !important;
}

textarea.code-area {
    color: rgb(204, 204, 204) !important;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
    background-color: rgb(45, 45, 45) !important;
    line-height: 1.5 !important;
    padding: 1em !important;
    white-space: pre !important;
    resize: none !important;
}