.custom-switch input[type=checkbox]:checked+.custom-control-label::before {
    background-color: rgb(45, 45, 45) !important;
    border-color: rgb(30, 30, 30) !important;
}

.pointer {
    cursor: pointer;
}

.code-area {
    min-height: 500px;
    height: 500px;
    font-size: 13px !important;
}