$primary-color: rgb(212, 212, 212);
$dark-color:  rgb(60, 60, 60);
$bg-color: rgb(30, 30, 30);
$body-bg: $bg-color;

@import "node_modules/spectre.css/src/spectre";
@import "./../node_modules/spectre.css/src/spectre-icons";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.height-full {
  height: 100%;
}

.hide-overflow {
  overflow: hidden;
}

.px-bigger {
  padding-left: 2em !important;
  padding-right: 2em !important;
}

.pt-bigger {
  padding-top: 2em;
}

.pt-biggest {
  padding-top: 10em;
}

.validation-message {
  color: $error-color;
}

.invalid {
  border-color: $error-color;
}

.navbar {
  min-height: 80px;
}

.height-editors {
  min-height: calc(100% - 80px);
}